body {
    background-color: rgb(41, 56, 52);
    min-height: 700px;
    font-family: 'ubuntu', sans-serif;
}

.wrapper {
    height: 700px;
    background: #000;
    background: url("https://i.imgur.com/g63vXfd.jpg");
    background-size: cover;
    width: 100%
}

.overlay {
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.8)
}

.contact-us {
    margin-top: 50px;
    margin-bottom: 50px
}

.contact-us h3,
p {
    color: #fff
}


/* Navbar */

.nav-link.active {
    color: rgb(224, 179, 96) !important;
    font-weight: 700;
}
/* Endbar */

#addres {
    width: 20px;
}
